body {
    background-color: whitesmoke;
}

#logo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow:  -15px 15px 15px #484848,
                15px -15px 15px #ffffff;
}

#logo:hover {
    height: 210px;
    width: 210px;
}