body, p, h1 {
    margin: 0 0 0 0;
    
}

a {
    text-decoration: none;
    color: white;
}

#espacio_inicial {
    height: 30vw;
}

#espacio {
    height: 1px;
}

#img_bienvenida {
    display: flex;
    flex-direction: column;
}

#degradado {
    background: linear-gradient(to top, white, transparent);
    width: 100%;
    height: 55vw;
}
